<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Test application</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isHome}}
      <li class="active"><a href="/">Home page</a></li>
      {{else}}
      <li><a href="/">Home page</a></li>
      {{/if}}
      {{#if isInfo}}
      <li class="active"><a href="/info">Info page</a></li>
      {{else}}
      <li><a href="/info">Info page</a></li>
      {{/if}}
      {{#if isAuth}}
      {{#if isAdd}}
      <li class="active"><a href="/add">Add info</a></li>
      {{else}}
      <li><a href="/add">Add info</a></li>
      {{/if}}
      {{#if isCart}}
      <li class="active"><a href="/cart">My cart</a></li>
      {{else}}
      <li><a href="/cart">My cart</a></li>
      {{/if}}
      {{#if isOrders}}
      <li class="active"><a href="/orders">Orders</a></li>
      {{else}}
      <li><a href="/orders">Orders</a></li>
      {{/if}}
      <li><a href="/auth/logout">Log out</a></li>
      {{else}}
      {{#if isLogin}}
      <li class="active"><a href="/auth/login#login">Log in</a></li>
      {{else}}
      <li><a href="/auth/login#login">Log in</a></li>
      {{/if}}
      {{/if}}
    </ul>
  </div>
</nav>
