<h1>Add info</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
    <label for="title">Title</label>
    <span class="helper-text" data-error="enter title" data-success="right"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="text" class="validate" required value="{{data.price}}">
    <label for="price">Price</label>
    <span class="helper-text" data-error="enter price" data-success="right"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="url" class="validate" required value="{{data.img}}">
    <label for="img">Image url</label>
    <span class="helper-text" data-error="add url" data-success="right"></span>
  </div>

  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button class="btn btn-primary">Submit</button>
</form>
